h2 {
  text-align: center;
  }
img {
  width:670px;
  }
p {
  font-size:40px;
  }
body {
  background: black;
  }
h2 {
    font-size:50px;
  }
body {
  font-family: 'Great Vibes', cursive;
  }
.singer {
    color: red;
  }
.cute {
    color:blue;
  }
.dogs {
    color:green;
  }
.sweet {
    color:pink;
  }
h2 {
  color:white;
  }
h2 {
  font-family: 'Black Han Sans', sans-serif;
  }
